.section-ofrecemos {
    width: 100vw;
    height: auto;
    padding: 6rem 4rem 6rem 0;
    background-color: var(--white-color);
    font-family: var(--main-font);
    display: flex;
    align-items: flex-start;
}

 

/* - - - - - - - - - -   Titulo   - - - - - - - - - - */



.container-titulo-section-ofrecemos {
    width: 6rem;
    height: auto;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    white-space: nowrap;
    transform: rotate(-180deg); 
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 1px;
    position: sticky;
    top: calc(8vh + 4rem);
    display: flex;
    align-items: center;
}



/* - - - - - - - - - -   Cards   - - - - - - - - - - */



.container-cards-section-ofrecemos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2.4rem;
}

.cards-section-ofrecemos {
    height: auto;
    border-radius: 8px;
    background-color: var(--white-color);
    overflow: hidden;
    position: sticky;
    top: calc(8vh + 4rem);
    box-shadow: 0 3px 10px -2px #6a625f;
}

.container-text-card {
    width: 100%;
    height: 100%;
    margin-top: 1.6rem;
    padding: 1.6rem;
    display: flex;
    row-gap: 0.1rem;
    position: absolute;
    top: 0;
    z-index: 996;
    background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(232,232,232,0.9682247899159664) 50%, rgba(232,232,232,0.6432948179271709) 63%, rgba(232,232,232,0) 70%);
    flex-direction: column;
    align-items: flex-start;
}

.div-center-cards {
    width: auto;
    display: flex;
    flex-direction: column;
}

.div-center-cards h1 {
    color: var(--main-color);
    font-size: 2.4rem;
    letter-spacing: .5px;
}

.div-medio-text-card-uno {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.div-p-uno-card-uno p {
    font-size: 1.2rem;
    font-weight: 300;
}

.div-p-dos-card-uno {
    display: flex;
    flex-direction: column;
    width: 85%;
    row-gap: 1px;
}

.div-p-dos-card-uno p {
    font-size: 1.2rem;
    font-weight: 300;
}

.div-p-dos-card-uno p:nth-child(2) {
    align-self: flex-end;
}

.img-card-uno {
    max-width: 140%;
    margin-top: 65%;
    position: relative;
    left: -20%;
}

.contianer-p-card-dos {
    width: 85%;
    padding-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #000;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}

.p-dos-card-dos {
    margin-top: 4px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.img-card-dos {
    max-width: 130%;
    margin-top: 65%;
    position: relative;
    left: -10%;
}

#h1-card-tres {
    font-size: 2.1rem;
    position: relative;
}

#h1-card-tres img {
    width: 40%;
    transform: rotate(72deg);
    position: absolute;
    right: -3%;
    bottom: -30%;
}

.container-p-card-tres {
    width: 75%;
    padding-top: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}


.container-p-card-tres span {
    border-bottom: solid 1px var(--main-color);
}

.p-dos-card-tres {
    padding-right: .4rem;
    display: flex;
    justify-content: flex-end;
}

.img-card-tres {
    margin-top: 55%;
    max-width: 130%;
    position: relative;
    left: -15%;
}


.container-general-slider-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container-button-left-cards {
    width: auto;
    height: auto;
    position: absolute;
    left: 3%;
    top: calc(50% - 4rem);
}

.container-button-left-cards button {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: solid 1px var(--white-color);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.container-button-left-cards button:hover {
    transform: scale(1.15);
}

.container-button-right-cards {
    width: auto;
    height: auto;
    position: absolute;
    right: 3%;
    top: calc(50% - 4rem);
}

.container-button-right-cards button {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: solid 1px var(--white-color);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.container-button-right-cards button:hover {
    transform: scale(1.15);
}

.facon {
    transition: filter .3s ease-in-out;
}

.facon:hover {
    filter: drop-shadow(0 0 2px #616161);
}

.container-slider-cards {
    width: 100%;
    height: auto;
}



[type=radio] {
    display: none;
  }
  
  #slider {
    height: 30vw;
    width: 60%;
    margin: 0 auto;
    position: relative;
    perspective: 250px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    top: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-80%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(80%,0,-100px);
  }

.imagenes-card {
    width: 100%;
}