.section-header {
    width: 100vw;
    height: 50vh;
    margin-top: 8vh;
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
}

.div-logos {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 7.5%;
}

.img-logos {
    width: 100%;
    margin-left: 5%;
}

.div-render {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 23%;
}

.img-render {
    transform: scale(2.2);
}

