.section-contacto {
    width: 100vw;
    height: auto;
    padding: 6rem 4rem 6rem 0;
    font-family: var(--main-font);
    background-color: var(--second-color);
    color: #fff;
    display: flex;
    align-items: flex-start;
}



/* - - - - - - - - - -   Titulo   - - - - - - - - - - */



.container-titulo-section-contacto {
    width: 6rem;
    height: auto;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    white-space: nowrap; 
    transform: rotate(-180deg);
    font-size: 2rem;
    letter-spacing: 1px;
    position: sticky;
    top: calc(8vh + 4rem);
    display: flex;
    align-items: center;
}



/* - - - - - - - - - -   Form   - - - - - - - - - - */



.container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
}

.container-form h1 {
    font-size: 1.5rem;
}

.form-section-contacto {
    width: 100%;
    padding-inline: 1.2rem;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    border: solid 1px #c3c3c3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}

.form-group {
    width: 100%;
}

.input-principal {
    width: 100%;
    height: 4vh;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #c3c3c3;
    color: #fff;
    padding-inline: 0.8rem;
    font-size: 1.4rem;
    letter-spacing: .5px;
}

.input-principal::placeholder {
    font-style: italic;
    color: #868686c3;
    letter-spacing: 1px;
}

.input-mensaje {
    width: 100%;
    height: 10vh;
    margin-top: .8rem;
    background: transparent;
    border: none;
    border: 1px dashed #c3c3c3;
    border-radius: 8px;
    color: #fff;
    padding: 1.2rem .8rem;
    font-size: 1.4rem;
    letter-spacing: .5px;
}

.input-mensaje::placeholder {
    font-style: italic;
    color: #868686c3;
    letter-spacing: 1px;
}

.submit-btn {
    width: 50%;
    height: 4vh;
    border: none;
    border-radius: 32px;
    background-color: #5d5d5d;
    color: #fff;
    align-self: center;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 1px;
}

.arrow-contact {
    color: #fff;
    font-size: 1.2rem;
    padding-left: .8rem;
}



/* - - - - - - - - - -   RRSS   - - - - - - - - - - */



.container-contact-section-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
    font-size: 1.2rem;
}

.container-rrss-section-contacto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.2rem;
    color: #fff;
    font-weight: 300;
}

.container-wpp {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    font-size: 1.4rem;
}

.container-articles-rrss {
    width: 100%;
    border-top: solid 1px #fff;
    padding-top: 1.2rem;
    column-gap: 1.2rem;
    display: flex;
    align-items: center;
}

.a-instagram {
    font-size: 1.6rem;
    color: #fff;
}

.a-email {
    font-size: 1.3rem;
    color: #fff;
}

.iconos-rrss {
    font-size: 2.4rem;
}