.nav {
    width: 100vw;
    height: 8vh;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 0 10px -1px #000000c9;
}



/* - - - - - - - - - -   Hamburguer Botton   - - - - - - - - - - */



#hamburguer{
    color: var(--white);
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
    display: flex;
    background-color: var(--main-color);
    width: 20%;
    border-bottom-right-radius: 35%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 0;
}

.three{
    padding: 1px 8px;
    height: 8vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--white-color);
    text-align: center;
}

.hambuger-active {
    padding-top: 3px;
    height: 7.7vh;

}
  
.hamburger .line{
    width: 26px;
    height: 4px;
    background-color: var(--white-color);
    display: block;
    margin: 6px auto 6px 4px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.line-active {
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger-6.is-active .line:nth-child(2){
    width: 0px;
}
  
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(7px);
}
  
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}



/* - - - - - - - - - -   Titulo e Imagen   - - - - - - - - - - */



.info-container-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-container-nav {
    font-family: var(--main-font);
}

.titulo-container-nav p {
    font-size: 1.2rem;
    letter-spacing: .25rem;
    font-weight: 300;
}

.titulo-container-nav h2 {
    font-size: 1.6rem;
    letter-spacing: .5px;
    font-weight: 700;
}



/* - - - - - - - - - -   Menu   - - - - - - - - - - */



.container-modal-nav {
    width: 90vw;
    height: auto;
    padding-bottom: 6rem;
    background-color: var(--main-color);
    color: #fff;
    font-family: var(--main-font);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3.2rem;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .8s ease-in-out;
    border-bottom-right-radius: 10%;
}

.container-modal-nav-active {
    left: 0;
}

.container-titulo-modal-nav {
    width: 85%;
    height: 8vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #fff;
}

.ul-container-nav {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    color: #fff;
    font-family: var(--main-font);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.2rem;
}

.ul-container-nav-active {
    left: 0;
}

.ul-container-nav li {
    width: 100%;
    font-size: 2rem;
    padding-left: 3.2rem;
    font-weight: 500;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    transition: all .5s ease-in-out;
}

.ul-container-nav li:hover {
    background-color: #fff;
    color: var(--main-color);
}